
body {
    font-family: 'Tofino Personal', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    line-height: normal;
    font-size: 16.7435px;
    text-align: center;
}

p {
    font-weight: 200;
    line-height: normal;
    font-size: 18px;
}

p a{
    text-decoration: underline;
    font-weight: 200;
    line-height: normal;
}

ul {
    list-style-type:none;
    padding: 0px;
}

li {
    margin: 10px 0px;
}

h1 {
    font-size: 3em;
    margin: 0px;

    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 96px;
}

h2 {
    margin: 0, 1em;

    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 24px;
}

button {
    border: 1.33468px black solid;
    background-color: white;
    padding: 10px 10px;
    text-align: center;
    font-style: italic;
    outline: none;

    font-weight: 600;
    line-height: normal;
    font-size: 18px;

    width: 175px;
}

button:hover {
    background-color: whitesmoke;
}

button.cta {
    background-color: black;
    color: white;
}

button.cta:hover {
    background-color: #1e1e1e;
    color: white;
}

.font-bold {
    font-weight: 600;
}

.font-regular {
    font-weight: 400;
}

.font-light {
    font-weight: 200;
}

.arrow-down {
    width: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    border-top: 10px solid black;

    margin: auto;
}
  
.site-container {
    width: 80%;
    padding: 0 3%;
    max-width: 1200px;
    margin: 30px auto 0;
}

.border {
    border: 1.33468px solid #000000;
    background: white;
}

.shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Used for scroll animations */
.hide-me {
    opacity: 0;
    position: relative;
    top: 20px;
}

.center-container {
    position: relative;
    text-align: center;
}

.center-container::before {
    content: " ";
    display: inline-block;
    height: 100%;
    width: 1%;
    vertical-align: middle;
}

.center {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

#home-hello {
    max-width: 840px;
    margin: 0px 50px;
    margin-top: 50px;
    position:relative;
}

#home-hello #home-hello-header {
    position: absolute;
    display: flex;
    padding: 25px 50px;
    left: -50px;
    right: 50px;
    top: -50px;
}

#home-hello #home-hello-header h2 {
    margin-left: 50px;
}

#home-hello #home-hello-body {
    display: flex;
    grid-gap: 50px;
    padding: 20px 50px;
    padding-top: 200px;
}

#home-hello #home-hello-body ul {
    text-align:center;
    padding: 0px 60px;
}

#home-hello #home-hello-body ul div {
    margin-bottom: 50px;
}

#home-hello #home-hello-next {
    padding: 10px 25px;
    margin-top: 25px;
    text-align: center;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1200px) {
    #home-hello {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    #home-hello {
        font-size: 16px;
    }
}


#nav {
    position: fixed;
    top: 50px;
    width: 100%;
    font-weight: 200;
    z-index: 100;
}

#nav div {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

#nav div a {
    padding: 10px 50px;
}

#home-projects {
    width: 100%; /*TODO: make reusable*/
    float: left;
    text-align: center;
}

#featured-project {
    display: inline-flex;
    text-align: left;
}


#featured-project-header {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);

    writing-mode: tb-rl;
    text-align: center;
    margin-left: -1px;
    padding: 0px 10px;
}

#featured-project #featured-project-content {
    max-width: 980px;
    padding: 0px 100px;
    float: left;
    display: flex;
}

#featured-project #project-cards {
    flex:2;
}

#featured-project #featured-project-info {
    flex:1;
    z-index:2;
}

@media (max-width: 830px) {
    #featured-project {
        display:none;
    }

    #home-projects {
        height: 300px;
    }

    #project-cards {
        -webkit-padding-start: 0px;
    }

    #project-cards section {
        margin: auto;
    }
}

#featured-project-info.all-cards {
    display:none;
}

@media (max-width: 768px) {
    #project-cards {
        -webkit-transform: none !important;
        transform: none !important;
    }
}

#project-cards {
    display: inline-block;
    width: 250px;
    vertical-align: top;
}

.project-card {
    height: 400px;
    width: 300px;
    border: 15px solid deepskyblue;
    border-radius: 8px;
    background-color: #FFFDFD;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    top: -50px;
}

#home-projects .project-card {
    position: absolute;
}

/* for when user wants to see all cards */
#home-projects.all-cards {
    margin: auto 0px;
    width: 100%;
    text-align: center;
}

#project-cards.all-cards {
    -webkit-transform: none !important;
    transform: none !important;
    display: block;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: visible;
    width: 100%;
    margin: 10px 0px;
}

#home-projects .project-card.all-cards {
    display: inline-block;
    position: relative;
    -webkit-transform: none !important;
    transform: none !important;
    transform-origin: center;
    margin: 10px;
    white-space: normal;
    vertical-align: bottom;
    top: 0px;
}


.project-card:hover {
    transform: translate(350px,0);
    -webkit-transform: translate(350px,0); /** Chrome & Safari **/
    -o-transform: translate(350px,0); /** Opera **/
    -moz-transform: translate(350px,0); /** Firefox **/
}

.preload, #project-details-card .project-card {
    transform: none !important;
    -webkit-transform: none !important;
    -o-transform: none !important;
    -moz-transform: none !important;
}

.project-card, #last-project-card, #next-project-card {
    transition: all 1s;
    -webkit-transition: all 1s; /** Chrome & Safari **/
    -moz-transition: all 1s; /** Firefox **/
    -o-transition: all 1s; /** Opera **/
}

.card-header {
    display:flex;
    justify-content: center;
    height: 80px;
    width: 100%;
    background-color: deepskyblue;
}

.card-header-icon {
    float: right;
    padding-right: 10px;
    height: 100%;
    line-height: 125px;
}

.card-header-icon img {
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;

    position: relative;
    top: 45%;
    transform: translateY(-50%);
}

.card-header-text {
    float: left;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 70px;
}

.card-content {
    padding: 12px;
}

.card-content tr {
    vertical-align: top;
}

.card-content th {
    font-style: italic;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.card-content p {
    font-size: 16px; /*TODO: fix, along with all new type size*/
}

.project-card .card-img {
    display: block;
    width: 100%;
    height: 150px;

    margin: auto;
    padding-bottom: 20px;
}

.project-card .card-img div {
    width: 100%;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
}

.project-tags {
    font-style: italic;
    font-size: 13px;
    text-align: center;
    padding: 0px 0px;
}

/* Card colors (add const for colors) */
.card-teal {
    border-color: #009788;
}

.card-teal .card-header{
    background-color: #009788;
}

.card-teal .card-img{
    background-color: #009788;
}

.card-bright-red {
    border-color: #D1232A;
}

.card-bright-red .card-header{
    background-color: #D1232A;
}

.card-bright-red .card-img{
    background-color: #D1232A;
}

.card-calm-green {
    border-color: #29B57A;
}

.card-calm-green .card-header{
    background-color: #29B57A;
}


.card-calm-green .card-img{
    background-color: #29B57A;
}

.card-dull-red {
    border-color: #C24447;
}

.card-dull-red .card-header{
    background-color: #C24447;
}

.card-dull-red .card-img{
    background-color: #C24447;
}

#about-media {
    float: left;
    width: 40%;
}

@media (max-width: 768px) {
    #about-media {
        float: none;
        display: block;
        margin: auto;
        width: 100%;
    }
}

#about-media img {
    float: right;
    margin-bottom: 30px;
    width: 400px;
    height: 250px;
}

@media (max-width: 1200px) {
    #about-media img {
        width: 350px;
        height: 218.75px;
    }
}

@media (max-width: 768px) {
    #about-media img {
        float: none;
        display: block;
        margin: auto;
    }
}

#about-text {
    float: left;
    width: 45%;
    margin-left: 50px;
    margin-top: 40px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    #about-text {
        width: 50%;
        margin-left: 20px;
        margin-top: 0px;

    }
}

@media (max-width: 768px) {
    #about-text {
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}


#about-text div {
    margin-bottom: 40px;
}

.business-card {
    float: right;
    height: 190px;
    width: 300px;
    background-color: #FFFDFD;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

@media (max-width: 768px) {
    .business-card  {
        float: none;
        display: block;
        margin: 25px auto;
    }
}

.business-card-content {
    padding: 10px 20px;
}

.business-card-content .fa {
    font-size: 30px;
    padding-right: 20px;
}

.business-card-content .resume {
    padding-right: 80px;
}



@media (min-width: 768px) {
    #project-details-card{
        position: fixed;
        float: left;
        top: 50%;
        margin-top: -150px; /* Half of the height */
        z-index: 10;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #project-details-card .project-card{
        margin-left: -50px;
    }
    #project-details-card #card-links{
        margin-left: -50px;

    }
}

@media (max-width: 767px) {
    #project-details-card .project-card{
        margin: auto;
        margin-top: 150px; /* Half of the height */
    }
    #project-details-card #card-links{
        margin: auto;
        margin-bottom: 50px; /* Half of the height */
    }
}


#project-details-card #card-links{
    width: 255px;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

@media(min-width: 769px) {

}

#project-details-card #next-project-card {
    position: absolute;
    z-index: -1;
    transform: rotate(2deg) translate(15px, 0px);
    transform-origin: 50% 100%;
}

#project-details-card #last-project-card {
    position: absolute;
    z-index: -1;
    transform: rotate(-2deg) translate(-15px, 0px);
    transform-origin: 50% 100%;
}

#project-details-card #next-project-card:hover {
    transform: rotate(5deg) translate(100px, -80px);
}

#project-details-card #last-project-card:hover {
    transform: rotate(-5deg) translate(-100px, -80px);
}

@media(max-width: 769px) {
    #next-project-card, #last-project-card {
        display: none;
    }
}


#card-links a{
    margin-right: 20px;
}

#project-details-page{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (min-width: 768px) {
    #project-details-page{
        float:left;
        position: absolute;
        margin-left: 30%;
        margin-right: 10%;
        top: 15%;

        min-height: 80vh;
    }
}


#project-details-page section{
    margin-bottom: 60px;
}

#project-details-page img{
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 500px;
}

#project-details-page a{
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    color:teal;
}

#project-details-page a:hover {
     text-decoration: underline;
}

.project-card a:hover {
    text-decoration: none;
}

.fa:hover {
    text-decoration: none;
    opacity: 0.75;
}

#text-banner {
    position:fixed;
    bottom:0;
    width: 100%;
    background-color: #009999;
    opacity: 0.75;
    z-index:200 !important;
}

#text-banner .container {
    max-width: 1000px;
    margin: 0 auto;
    box-sizing:border-box;
}

#text-banner .container h4 {
    font-family: 'Source Sans Pro', serif;
    font-weight: 100;
    font-style: italic;
    color: white;
    text-align: center; /* Moves the text banner text to the left, center, or right -- your preference! */
}

#text-banner .container h4 a {
 color: white;
 font-weight: 400;
}​

/*TODO: TEMP*/

#fp-nav ul li a, .fp-slidesNav ul li a {

}

#fp-nav ul li{
    padding: 15px 0px !important;
    width: 100px !important;
    right: 30px;
}

/* @media (min-width: 768px) {
    #fullpage {
        margin-right: 180px;
    }
} */

@media (max-width: 768px) {
    #fp-nav {
        display: none;
    }
}

#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
    color: black;
}

#fp-nav ul li .fp-tooltip.fp-right {
    color: gray;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    font-size: 2em;
    width: auto;
    opacity: 1;
}

#fp-nav ul li .fp-tooltip.fp-right {
    right: 0px !important;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    opacity: 0;
}