@font-face {
    font-family: 'Tofino';
    src: url('TofinoPersonal-Regular.eot');
    src: url('TofinoPersonal-Regular.eot?#iefix') format('embedded-opentype'),
        url('TofinoPersonal-Regular.woff2') format('woff2'),
        url('TofinoPersonal-Regular.woff') format('woff'),
        url('TofinoPersonal-Regular.ttf') format('truetype'),
        url('TofinoPersonal-Regular.svg#TofinoPersonal-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tofino';
    src: url('TofinoPersonal-Semibold.eot');
    src: url('TofinoPersonal-Semibold.eot?#iefix') format('embedded-opentype'),
        url('TofinoPersonal-Semibold.woff2') format('woff2'),
        url('TofinoPersonal-Semibold.woff') format('woff'),
        url('TofinoPersonal-Semibold.ttf') format('truetype'),
        url('TofinoPersonal-Semibold.svg#TofinoPersonal-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Tofino';
    src: url('TofinoPersonal-Medium.eot');
    src: url('TofinoPersonal-Medium.eot?#iefix') format('embedded-opentype'),
        url('TofinoPersonal-Medium.woff2') format('woff2'),
        url('TofinoPersonal-Medium.woff') format('woff'),
        url('TofinoPersonal-Medium.ttf') format('truetype'),
        url('TofinoPersonal-Medium.svg#TofinoPersonal-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Tofino';
    src: url('TofinoPersonal-Thin.eot');
    src: url('TofinoPersonal-Thin.eot?#iefix') format('embedded-opentype'),
        url('TofinoPersonal-Thin.woff2') format('woff2'),
        url('TofinoPersonal-Thin.woff') format('woff'),
        url('TofinoPersonal-Thin.ttf') format('truetype'),
        url('TofinoPersonal-Thin.svg#TofinoPersonal-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Tofino';
    src: url('TofinoPersonal-ThinItalic.eot');
    src: url('TofinoPersonal-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('TofinoPersonal-ThinItalic.woff2') format('woff2'),
        url('TofinoPersonal-ThinItalic.woff') format('woff'),
        url('TofinoPersonal-ThinItalic.ttf') format('truetype'),
        url('TofinoPersonal-ThinItalic.svg#TofinoPersonal-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Tofino';
    src: url('TofinoPersonal-SemiboldItalic.eot');
    src: url('TofinoPersonal-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('TofinoPersonal-SemiboldItalic.woff2') format('woff2'),
        url('TofinoPersonal-SemiboldItalic.woff') format('woff'),
        url('TofinoPersonal-SemiboldItalic.ttf') format('truetype'),
        url('TofinoPersonal-SemiboldItalic.svg#TofinoPersonal-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Tofino';
    src: url('TofinoPersonal-Ultra.eot');
    src: url('TofinoPersonal-Ultra.eot?#iefix') format('embedded-opentype'),
        url('TofinoPersonal-Ultra.woff2') format('woff2'),
        url('TofinoPersonal-Ultra.woff') format('woff'),
        url('TofinoPersonal-Ultra.ttf') format('truetype'),
        url('TofinoPersonal-Ultra.svg#TofinoPersonal-Ultra') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Tofino';
    src: url('TofinoPersonal-RegularItalic.eot');
    src: url('TofinoPersonal-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('TofinoPersonal-RegularItalic.woff2') format('woff2'),
        url('TofinoPersonal-RegularItalic.woff') format('woff'),
        url('TofinoPersonal-RegularItalic.ttf') format('truetype'),
        url('TofinoPersonal-RegularItalic.svg#TofinoPersonal-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Tofino';
    src: url('TofinoPersonal-MediumItalic.eot');
    src: url('TofinoPersonal-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('TofinoPersonal-MediumItalic.woff2') format('woff2'),
        url('TofinoPersonal-MediumItalic.woff') format('woff'),
        url('TofinoPersonal-MediumItalic.ttf') format('truetype'),
        url('TofinoPersonal-MediumItalic.svg#TofinoPersonal-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Tofino';
    src: url('TofinoPersonal-Light.eot');
    src: url('TofinoPersonal-Light.eot?#iefix') format('embedded-opentype'),
        url('TofinoPersonal-Light.woff2') format('woff2'),
        url('TofinoPersonal-Light.woff') format('woff'),
        url('TofinoPersonal-Light.ttf') format('truetype'),
        url('TofinoPersonal-Light.svg#TofinoPersonal-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Tofino';
    src: url('TofinoPersonal-LightItalic.eot');
    src: url('TofinoPersonal-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('TofinoPersonal-LightItalic.woff2') format('woff2'),
        url('TofinoPersonal-LightItalic.woff') format('woff'),
        url('TofinoPersonal-LightItalic.ttf') format('truetype'),
        url('TofinoPersonal-LightItalic.svg#TofinoPersonal-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}